@import '/src/assets/mixins';
@import '/src/assets/colors.scss';

.main {
    position: absolute;
    cursor: default;
    user-select: none;
    text-align: center;

    top: -32px;
    right: 8px;

    background: url('/Star.svg');
    @include background();
    align-content: center;

    width: 70px;
    height: 70px;


    p {
        color: $white;
        height: 24px;
        font-size: 19px;
    }

    @media (max-width: 1000px) {
        top: 5px;
        width: 50px;
        height: 50px;

        p {
            font-size: 14px;
            height: 17px;
        }
    }

    @media (max-width: 507px) {
        top: -20px;
    }
}