@import '/src/assets/colors.scss';

.navbar {
    background: $white;
    z-index: 8;

    position: fixed;

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    article {

        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 4px 0;

        h2 {
            font-weight: 700;
            font-size: 30px;
            color: $primary-text;
            line-height: 20px;

            @media (max-width: 1000px) {
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
}