@import '/src/assets/mixins';
@import '/src/assets/colors.scss';

.main {
    cursor: default;
    user-select: none;
    text-align: center;

    background: url('/Star.svg');
    @include background();
    align-content: center;

    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 5px;

    p {
        color: $white;
        height: 15px;
        font-size: 13px;
    }

    @media (max-width: 1000px) {
        top: 5px;
        width: 50px;
        height: 50px;

        p {
            font-size: 14px;
            height: 17px;
        }
    }

    @media (max-width: 507px) {
        top: -20px;
    }
}