$background-color: #F5F7F7;
$orange-primary: #FD4D35;

$primary-text: #2D3242;
$second-text: #687078;
$paragraf-text: #2F4353;
$description-text: #818798;
$links-text: #2D97F9;
$timer-text: #01B9C5;
$timer-warning: #FD4D35;
$price-cross: #95979F;
$checkbox: #01B9C5;

$white: #FFFFFF;
$hover-tile: #e9f4f4;
$hover-tile-border: #01B9C5;
$tile-border: #D3D6DD;

$signboard: #01B9C5;
$popup-dec: #01B9C5;
$popup-border-tile: #E7EAF1;
$popup-btn: #555965;
$popup-line: #E7EAF1;